{% extends 'base.html' %}

{% block title %}
    Post-detail
{% endblock %}

{% block content %}

    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">News1</div>
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <a href="{% url 'post_update_url' id=post.id %}">Редактировать</a>
<a href="{% url 'post_delete_url' id=post.id %}">Удалить</a>
        </div>
    </div>
{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}  
    </div>
{% empty %}
    <p> There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}
{% endblock %}
